<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@1400.v7fd111b_ec82f">
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@3908.vd6b_b_5a_a_54010">
    <script>pipeline {
	agent any
	stages {
		stage(&apos;Checkout SCM&apos;) {
			steps {
				git &apos;https://github.com/Mhidayah19/SSD_Practical_Test.git&apos;
			}
		}

		stage(&apos;OWASP DependencyCheck&apos;) {
			steps {
				dependencyCheck additionalArguments: &apos;--format HTML --format XML&apos;, odcInstallation: &apos;Default&apos;
			}
		}
	}	
	post {
		success {
			dependencyCheckPublisher pattern: &apos;dependency-check-report.xml&apos;
		}
	}
}</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>